.adder {
  background-color: bisque;
  border-radius: 0.6rem;
  padding: 0.4rem;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  color: var(--text-secondary);
  background-color: var(--accent-color);
  font-weight: bold;
}
