.board {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 6rem;
}

.board__columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 50rem;
  list-style: none;
}
