.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 10px;
  height: inherit;
  list-style: none;
  padding: 4px;
  border: 1px blue solid;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
